:root {
  --light: white;
  --dark: black;
  --highlight: #f6bf00;
  --highlight-secondary: rgb(209, 175, 124);
  --weight-bold: 600;
  --huiluinen: #004f3b;
  --royhkelikko: #82221b;
  --puhkupoh: #f6bf00;
  --kyrwankynsi: #003863;
  color: var(--light) !important;
  font-size: 3vw;
  hyphens: manual;
}

html, body {
  background: var(--dark);
  padding: 1em;
}

p {
  hyphens: auto;
}

button {
  padding: 1em;
  background: var(--highlight);
  border: none;
  border-radius: 30px;
  margin: .5em;
  font-size: 3vw;
  font-weight: var(--weight-bold);
  min-height: 3em;
  color: var(--dark) !important;

}

.options-wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 33vh;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
}

.option {
  flex: 1 1 45%;
  padding: 2em;
}


.otsikko-wrapper {
  width: 100%;
  text-align: center;
}
.otsikko {
  width: 60%;
}

.house-image-wrapper {
  text-align: center;
}

.house-image {
  border-radius: 15%;
  max-width: 75%;
  height: auto;
  margin: 1em 0;
}

.hundredp {
  width: 100%;
  display: flex;
  margin: .3em;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  
}

.house-name {
  flex: 0 0 25%;
}

.house-score {
  flex: 0 0 12%;
}

.resultp {
  border-radius: 10px;
}

.royhkelikko .resultp {
  background-color: var(--royhkelikko);
}


.puhkupoh .resultp {
  background-color: var(--puhkupoh);
}


.kyrwankynsi .resultp {
  background-color: var(--kyrwankynsi);
}


.huiluinen .resultp {
  background-color: var(--huiluinen);
}

.extra > * {
  width: 100%;
  text-align: right;
}